@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 15px;
  min-width: 375px;
  min-height: 718px;
  background-image: url('./images/header-shapes\ mobile.png');
  background-repeat: no-repeat;
  background-position: center center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.a_logo {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

.menu-icon {
  color: #6070ff;
  padding: 10px;
  margin-right: 15px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.intro {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.main-paragraph {
  color: #344563;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.connect {
  color: #7f8cff;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

footer ul {
  display: flex;
  padding: 0;
  gap: 1rem;
}

li {
  list-style-type: none;
  color: #505f79;
  transition: 0.3s all ease-in-out;
}

li :hover {
  transform: rotate(30deg);
  color: #6070ff;
}
